/.git
/.github
/node_modules
/vendor
/storage/framework/cache/data
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/debugbar
.env
.phpunit.*
phpunit.xml
docker-compose.yml
.editorconfig
.gitattributes
.gitignore
*.md
*.log
*.sqlite
.DS_Store
Thumbs.db
